{% extends 'base.html' %} {% block content %}
<div class="content">
  <nav>
    <div></div>
    <h1>NLP Analysis</h1>
    <a href="{% url 'logout' %}">Logout</a>
  </nav>
  <div class="main">
    <span class="welcome center">
      <h2 class="center">
        Hello&nbsp; <span class="blue">{{user.username}}</span>!&nbsp;
      </h2>
      <h2>
        Search for any website article to retrieve its NLP analysis.
      </h2>
    </span>

    <form method="POST" class="main-form">
      {% csrf_token %}
      <input
        value="{{ data.url }}"
        type="text"
        name="search"
        class="form-text"
        placeholder="Search URL ..."
      />
      <input type="submit" value="Search" class="form-search box-anim" />
    </form>

    {% if data %} {% if data.error %}
    <div class="not-found center">
      <h1>Couldn't find any results. Remember to search for URLs.</h1>
    </div>

    {% else %}

    <ul id="options">
      <li>
        <a
          class="{% if 'sentiment' in request.path %} selected {% endif %}"
          href="{% url 'sentiment' %}?url={{ data.url }}"
          >Sentiment</a
        >
      </li>
      <li>
        <a
          class="{% if 'classification' in request.path %} selected {% endif %}"
          href="{% url 'classification' %}?url={{ data.url }}"
          >Classification</a
        >
      </li>
      <li>
        <a
          class="{% if 'entities' in request.path %} selected {% endif %}"
          href="{% url 'entities' %}?url={{ data.url }}"
          >Entities</a
        >
      </li>
      <li>
        <a
          class="{% if 'concepts' in request.path %} selected {% endif %}"
          href="{% url 'concepts' %}?url={{ data.url }}"
          >Concepts</a
        >
      </li>
      <li>
        <a
          class="{% if 'summary' in request.path %} selected {% endif %}"
          href="{% url 'summary' %}?url={{ data.url }}"
          >Summary</a
        >
      </li>
    </ul>

    {% block result %}{% endblock %} {% endif %} {% endif %}
  </div>
</div>

{% endblock %}
